/* -----------------------------------------------
* about Module
* aboutページ用
-------------------------------------------------- */
@use '../mixin/mixin' as *;
@use '../setting/setting' as *;

.p_about{
  background-color: $main_color02;
  padding: 80px 0 0;
  @include sp{
    padding: 40px 0 0;
  }
 
}
.p_about-sec01{
  padding: 0 0 86px 0;
  position: relative;
  @include sp{
    padding: 0 0 43px 0;
  }
  &__dec{
    width: 100px;
    height: 1px;
    background-color: $main_color01;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    &::before,
    &::after{
      content: "";
      display: block;
      width: 10px;
      height: 10px;
      clip-path: polygon(0 0, 100% 50% ,0 100%);
      background-color: $main_color01;
    }
    &::after{
      transform: rotate(180deg);
    }
  }
  &__decoration{
    position: absolute;
    @include sp{
      display: none;
    }
    &.pat01{
      top: 32px;
      right: 0;
    }
    &.pat02{
      top: 253px;
      left: 0;
    }
    &.pat03{
      top: 1017px;
      right: 110px;
    }
    &.pat04{
      bottom: 44px;
      left: 110px;
    }
  }
  &__logo{
    text-align: center;
    width: 350px;
    margin: 0 auto;
    img {
      width: 100%;
    }
    @include sp{
      width: 200px;
    }
  }
  &__ttl{
    margin-top: 80px;
    @include sp{
      margin-top: 40px;
    }
  }
  &__img{
    text-align: center;
    margin-top: 48px;
    @include sp{
      margin-top: 24px;
    }
  }
  &__cap{
    margin-top: 80px;
    line-height: 1.8;
    font-size: 18px;
    font-weight: bold;
    text-align: center;

    @include pc{
    }
    @include sp{
      margin-top: 40px;
      font-size: 16px;
    }
  }
}
.p_about-sec02{
  position: relative;
  padding: 0 0 90px 0;
  @include sp{
  padding: 0 0 45px 0;
  }
  &__decoration{
    position: absolute;
    @include sp{
      display: none;
    }
    &.pat01{
      top: 931px;
      left: 0;
    }
    &.pat02{
      top: 1764px;
      right: 0;
    }
    &.pat03{
      bottom: - 75px;
      left: 0;
    }
   
  }
  &__cap{
    margin-top: 48px;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.8;
    text-align: center;

    @include pc{
    }
    @include sp{
      font-size: 16px;
      margin-top: 24px;
    }
  }
  &__box01{
    margin-top: 76px;
    @include sp{
      margin-top: 38px;
    }
  }
  &__dec{
    width: 100px;
    height: 1px;
    background-color: $main_color01;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    &::before,
    &::after{
      content: "";
      display: block;
      width: 10px;
      height: 10px;
      clip-path: polygon(0 0, 100% 50% ,0 100%);
      background-color: $main_color01;
    }
    &::after{
      transform: rotate(180deg);
    }
  }
}

.p_about-sec03{
  padding: 0 0 80px 0;
  @include sp{
    padding: 0 0 40px 0;
  }
  &__list{
    margin-top: 64px;
    @include sp{
      margin-top: 32px;
    }
  }
}

.p_about-sec04{
  padding: 60px 0;
  background-image: url(../img/about/about_bg01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  @include sp{
    padding: 30px 0;
  }
  &__box{
    @include pc{
      padding-right: 60px;
      width: calc(100% - 30%);
    }
  }
  &__box02{
    display: flex;
    flex-wrap: wrap;
    margin-top: 63px;
    @include sp{
      margin-top: 30px;
    }
  }
  &__ttl{
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.8;
    @include sp{
      font-size: 18px;
    }
  }
  &__cap{
    color: #fff;
    margin-top: 40px;
    line-height: 1.6;
    letter-spacing: 0.05em;
    @include sp{
      margin-top: 20px;
    }
  }

}

.p_about-ttl{
  font-weight: bold;
  font-size: 40px;
  letter-spacing: 0.3em;
  text-align: center;
  line-height: 1.15;
  @include sp{
    font-size: 30px;
  }
  span.underline{
    display: inline-block;
    position: relative;
    border-bottom: 1px solid $main_color01;
    // &::before{
    //   content: "";
    //   display: block;
    //   width: 100%;
    //   height: 1px;
    //   background-color: $main_color01;
    // }
  }
  span.big{
    font-size: 56px;
    @include sp{
      font-size: 40px;
    }
  }
}

.p_about-list{
  >li+li{
    margin-top: 80px;
    @include sp{
      margin-top: 40px;
    }
  }
  &__box01{
    @include pc{
      padding: 0 50px;
    }
    
  }
  &__box02{
 
    position: relative;
  }
  &__box03{
    position: relative;
    z-index: 2;
    border-radius: 10px;
    background-color: #fff;
    padding: 40px;
    @include sp{
      padding: 20px;
    }
  }
  &__box04{
    padding-left: 200px;
    margin-top: -80px;
    @include sp{
      margin-top: -40px;
      padding-left: 20px;
    }
    &.pat-left{
      padding-right: 200px;
      padding-left: 0;
      @include sp{
        padding-right: 20px;
      }
    }
  }
  &__img{
    position: relative;
    height: 400px;
    >img{
      border-radius: 10px;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__dec{
    position: absolute;
    top: -12px;
    left: 24px;
    background-color: #F8D549;
    padding: 16px 8px;
    @include sp{
      left: 12px;
      padding: 8px 4px;
    }
    &::before{
      content: "";
      display: block;
      width: 6px;
      height: 12px;
      clip-path: polygon(100% 0, 100% 100% ,0 100%);
      background-color: $main_color01;
      position: absolute;
      top: 0;
      right: 100%;
    }
    &::after{
      content: "";
      display: block;
      width: 100%;
      height: 14px;
      clip-path: polygon(0 0, 100% 0 ,100% 100%,50% 0,0 100%);
      background-color: #F8D549;
      position: absolute;
      top: calc(100% - 1px );
      left: 0;
    }
    
    >span.txt,
    >span.num{
      display: block;
      text-align: center;
      line-height: 1;
    }
    >span.txt{
      font-weight: bold;
      font-size: 14px;
      letter-spacing: 0.1em;
      @include sp{
        font-size: 12px;
      }
    }
    >span.num{
      margin-top: 12px;
      font-weight: bold;
      font-size: 40px;
      letter-spacing: 0.1em;
      @include sp{
        font-size: 30px;
      }
    }
  }
  &__ttl01{
    display: flex;
    align-items: center;
    gap: 0 16px;
    >span.txt{
      color: rgba(248, 213, 73, 1);
      font-size: 12px;
      font-weight: bold;
      letter-spacing: 0.3em;
    }
    >span.dec{
      display: block;
      width: 100px;
      height: 1px;
      background-color: rgba(248, 213, 73, 1);
      display: flex;
      align-items: center;
      justify-content: center;
      &::before,
      &::after{
        content: "";
        display: block;
        width: 10px;
        height: 10px;
        clip-path: polygon(0 0, 100% 50%,0 100%);
        background-color: rgba(248, 213, 73, 1);
      }
      &::after{
        transform: rotate(180deg);
      }
    }
  }
  &__ttl02{
    font-weight: bold;
    font-size: 22px;
    margin-top: 23px;
    @include sp{
      font-size: 16px;
      margin-top: 10px;
    }
  }
  &__cap{
    margin-top: 24px;
    line-height: 1.8;
    font-size: 14px;
    @include sp{
      margin-top: 12px;
    }
  }
 

}
.p_about-list02{
  @include pc{
    display: flex;
    flex-wrap: wrap;
    gap: 0 50px;
  }
  >li{
    @include pc{
      width: calc((100% - 100px) / 3);
    }
  }
  >li+li{
    @include sp{
      margin-top: 50px;
    }
  }
  &__item{}
  &__img{
    text-align: center;
    >img{
      @include sp{
        max-width: 200px;
      }
    }
  }
  &__ttl{
    font-weight: bold;
    font-size: 18px;
    margin-top: 32px;
    text-align: center;

    @include pc{
    }
    @include sp{
      font-size: 16px;
      margin-top: 16px;
    }
  }
  &__cap{
    margin-top: 32px;
    font-size: 14px;
    line-height: 1.6;
    @include sp{
      margin-top: 16px;
    }
  }
  &__item{}

}

.p_about-cont{
  border: 2px solid $main_color01;
  background-color: $main_color02;
  padding: 24px;
  border-radius: 10px;
  @include pc{
    width: 30%;
  }
  @include sp{
    padding: 12px;
    margin-top: 20px;
  }
  &__ttl{
    font-weight: bold;
  }
  &__cap{
    margin-top: 16px;
    font-size: 12px;
    line-height: 1.6;
    @include sp{
      margin-top: 6px;
    }
  }
}
.p_about-sec05 {
  margin-top: 100px;
  padding-bottom: 100px;
  @include sp() {
    margin-top: 50px;
  }
  &__ribon {
    .c-mini-ribon {
      margin: 0 auto;
    }
  }
  &__ttl {
    margin-top: 80px;
    @include sp() {
      margin-top: 40px;
    }
  }
  &__slide {
    margin-top: 30px;
  }
  &__prof {
    margin-top: 80px;
    @include sp() {
      margin-top: 40px;
    }
  }
}