@use '../mixin/mixin' as *;
@use '../setting/setting' as *;

.p_budget-ankor {
  &:not(:first-child) {
    padding-top: 0;
  }
  &__ttl {
    font-size: 22px;
    font-weight: bold;
    @include sp() {
      font-size: 16px;
    }
    &.deli {
      color: $deli;
    }
  }
  &__list {
    margin-top: 10px;
    @include sp() {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 6px;
      li {
        margin-top: 0 !important;
      }
    }
  }
  &__btn {
    &.deli {
      color: $deli-dark;
      background-color: #DDE3D2;
      border: 2px solid $deli-dark;
      &::before {
        border-top: 3px solid $deli-dark;
        border-right: 3px solid $deli-dark;
      }
    }
  }
  &__txt {
    .big {
      @include sp() {
        font-size: 22px;
        line-height: 1;
      }
    }
  }
}
.p_budget {
  &__cont {
    &.deli {
      background-color: #DDE3D2;
    }
  }
  &__cont-ttl {
    font-size: 22px;
    .txt {
      display: inline-block;
    }
    .category {
      font-size: 32px;
      display: inline-block;
      text-shadow: 2px 2px 0 $main_color01;
      &.deli {
        text-shadow: 2px 2px 0 $deli;
      }
    }
  }
}