/* -----------------------------------------------
* service Module
* serviceページ用
-------------------------------------------------- */
@use "../mixin/mixin" as *;
@use "../setting/setting" as *;

.p_service {
}

.p_service-mv {
  padding-top: 75px;
  padding-bottom: 306px;
  background: linear-gradient(
    90deg,
    #e1c4b6 0%,
    #c7a592 40%,
    #c29f8c 55%,
    #b68e7c 75%,
    #a27263 98%,
    #a17061 100%
  );

  @include sp {
    padding-top: 2rem;
    padding-bottom: 10rem;
  }

  &__box01 {
    margin-top: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;

    @include sp {
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
      margin-top: 4rem;
    }
  }

  &__left {
    flex: 0 0 50vw;
    width: 50vw;
    margin-left: auto;
    margin-left: calc(50% - 50vw);
    position: relative;

    img {
      border-radius: 0 50px 50px 0;
      display: block;
      width: 100%;
      height: auto;
      object-fit: cover;

      @include sp {
        border-radius: 20px;
      }
    }

    @include sp {
      flex: 0 0 auto;
      width: 100%;
      margin-left: 0;
    }

    .mv-dec {
      position: absolute;
      top: -38px;
      right: -34px;
      width: 96px;
      @include sp() {
        width: 84px;
      }
    }
  }

  &__right {
    width: 50%;

    @include sp {
      width: 100%;
    }
  }

  &__txt01 {
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.2;
    letter-spacing: 0.03em;
    margin-top: 19px;

    @include sp {
      font-size: 1.6rem;
    }

    .small {
      font-size: 4.2rem;
    }
  }

  &__txt02 {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.2;
    letter-spacing: 0.03em;
    margin-top: 25px;

    @include sp {
      margin-top: 15px;
    }
  }

  &__txt03 {
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 2.6;
    letter-spacing: 0.03em;
    color: $brown;
    margin-top: 6px;
    padding-left: 24px;
    position: relative;

    @include sp {
      font-size: 1.3rem;
      display: flex;
      align-items: center;
      gap: 6px;
      width: fit-content;
      margin-inline: auto;
      padding-left: 0;
      text-align: left;
    }

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 20px;
      height: 20px;
      background: url(../img/common/tel-ico.svg) no-repeat center center;
      background-size: contain;

      @include sp {
        position: static;
        top: auto;
        left: auto;
        transform: none;
        flex: 0 0 20px;
      }
    }
  }

  .c-btn01 {
    @include sp {
      width: fit-content;
      display: block;
      margin: 15px auto 0;
    }
  }
}

.p_service-sec01 {
  padding-top: 115px;
  padding-bottom: 306px;
  color: #fff;
  position: relative;

  @include sp {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  &__box01 {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__left {
    width: 50%;
  }
  &__right {
    width: 50%;
  }
  &__ttl {
    margin-top: 60px;
    text-align: center;
    padding-bottom: 22px;
    border-bottom: 1px solid #fff;
    cursor: pointer;

    .en {
      font-size: 2.4rem;
      font-weight: 500;
      line-height: 1;
      letter-spacing: 0.1em;
      @include sp {
        font-size: 1.8rem;
      }
    }
    .ja {
      font-size: 1.1rem;
      font-weight: 500;
      line-height: 1;
      letter-spacing: 0.1em;
      margin-top: 3px;
    }
    &.is-active {
      border-bottom: 1px solid #dcff74;
      .en {
        color: #dcff74;
      }
      .ja {
        color: #dcff74;
      }
    }
    &.red {
      &.is-active {
        border-bottom: 1px solid $main_color01;
        .en {
          color: $main_color01;
        }
        .ja {
          color: $main_color01;
        }
      }
    }
  }
}