@use "../mixin/mixin" as *;
@use "../setting/setting" as *;

.c-footer {
  background-color: #282828;
  background-image: url(../img/common/side_bg.png);
  padding: 30px 0;
  margin-left: 220px;
  @include sp() {
    margin-left: 0;
  }
  &__wrap {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    @include sp() {
      display: block;
    }
  }
  &__logo {
    width: 100px;
    @include sp() {
      margin: 0 auto;
    }
  }

  &__list {
    max-width: 720px;
    @include sp() {
      margin-top: 15px;
    }
  }
  &__bottom {
    margin-top: 20px;
  }
  &__ttl {
    font-weight: bold;
    color: #fff;
    font-size: 14px;
    margin-top: 10px;
  }
  &__add {
    font-size: 12px;
    font-weight: 400;
    color: #fff;
  }
  &__copy {
    font-size: 12px;
    font-weight: 400;
    color: #fff;
    @include sp() {
      text-align: center;
      margin-top: 10px;
    }
  }
  &__text-area {
    display: flex;
    justify-content: space-between;
    @include sp() {
      display: block;
    }
  }
  &__privacy {
    margin-top: 20px;
    .link {
      font-size: 12px;
      color: #fff;
      text-decoration: underline;
      text-align: right;
      display: block;
      letter-spacing: 0.1em;
    }
  }
  &__insta {
    width: 30px;
    @include sp() {
      margin-left: auto;
    }
  }
}
.c-footer-banner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  margin-top: 20px;
  @include sp() {
    grid-template-columns: 1fr;
    width: 100%;
  }

  &__img01 {
    margin-top: 6px;
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }
  &__cap01 {
    font-size: 12px;
    font-weight: 400;
    color: #fff;
    margin-top: 10px;
  }
  &__link {
    transition: all 0.3s;
    &:hover {
      opacity: 0.8;
    }
  }
}
.c-footer-list {
  display: flex;
  flex-wrap: wrap;
  > li {
    position: relative;
    @include sp() {
      width: 50%;
    }
    &::after {
      content: "";
      background: url(../img/common/arrow_white.svg) no-repeat;
      width: 7px;
      height: 10px;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      @include sp() {
        right: 10px;
      }
    }
    &:not(:last-child) {
      @include pc() {
        margin-right: 15px;
      }
    }
  }
  &__item {
    color: #fff;
    padding: 5px;
    padding-right: 20px;
    font-size: 12px;
    display: block;
  }
}
