@use "../mixin/mixin" as *;
@use "../setting/setting" as *;

.c-selectbox {
  position: relative;
  &:before {
    content: "";
    display: block;
    width: 12px;
    height: 11px;
    background: url("../img/common/icon-arrow-blue-bt.svg") no-repeat center;
    background-size: contain;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 15px;
  }
  select {
    width: 100%;
    border: solid 1px #133a59;
    border-radius: 5px;
    padding: 10px;
    color: #133a59;
  }
}
.c-input {
  width: 100%;
  height: 50px;
  background: #fcfcfc;
  border: 1px solid #e1e1e1;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 12px 10px;
  @include sp() {
    height: 45px;
  }
  &.small {
    width: 140px;
  }
}
.c-textarea {
  width: 100%;
  height: 290px;
  background: #fcfcfc;
  border: 1px solid #e1e1e1;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 12px 10px;
  @include sp() {
    height: 180px;
  }
}
.c-select-input{
  width: 100%;
  position: relative;
  &:before{
    content: '';
    display: block;
    width: 7px;
    height: 13px;
    background: url("../img/common/ico-arrow-blue.svg") no-repeat;
    background-size: contain;
    position: absolute;
    right:14px;
    top: 0;
    bottom: 0;
    margin: auto;
    transform: rotate(90deg);
    pointer-events: none;
  }
  select{
    cursor: pointer;
    width: 100%;
    height: 50px;
    background: #fcfcfc;
    border: 1px solid #e1e1e1;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 12px 10px;
  }
}
.c-select {
  position: relative;
  &::after {
    content: "";
    width: 7px;
    height: 15px;
    background: url(../img/common/arrow_brown.svg)no-repeat;
    background-size: contain;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%) rotate(90deg);
  }
  select {
    width: 100%;
    height: 50px;
    background: #fcfcfc;
    border: 1px solid #e1e1e1;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 12px 10px;
  }
}

.c-form-table {
  width: 100%;
  &.plan {
    th,td {
      width: 100%;
    }
  }
  @include sp(){
    display: block;
  }
  tbody{
    @include sp(){
      display: block;
    }
  }
  .open-area{
    display: table-row;
    @include sp(){
      display: block;
    }
  }
  .open-area.hide{
    display: none !important;
  }
  tr {
    border-bottom: solid 1px #e1e1e1;
    box-sizing: border-box;
    @include sp() {
      //padding-bottom: 20px;
      //margin-bottom: 10px;
      display: block;
      //padding-top: 5px;
    }
  }

  tr:last-child > th {
    @include pc() {
      vertical-align: top;
    }
  }

  th {
    //vertical-align: top;
    text-align: left;
    font-weight: bold;
    line-height: 1.4;
    //min-width: 250px;
    @include sp() {
      display: block;
      width: auto;
      padding-top: 20px;
    }
    @include pc() {
      vertical-align: middle;
      //padding-top: 45px;
      padding-top: 30px;
      padding-bottom: 30px;
      padding-left: 20px;
      font-size: 18px;
      width: 290px;
    }
  }

  td {
    @include sp() {
      display: block;
      padding: 10px 0 20px;
      //margin-bottom: 30px;
    }
    @include pc() {
      padding: 30px 0;
      padding-left: 20px;
      width: 710px;
    }
    .add-search-btn {
      display: inline-block;
      width: 120px;
      text-align: center;
      font-weight: bold;
      color: #fff;
      background-color: $main_color01;
      font-size: 14px;
      border-radius: 50px;
      padding: 10px;
      margin-left: 15px;
    }
    &.flex {
      display: flex;
      align-items: center;
    }
    .flex {
      display: flex;
      align-items: center;
      @include sp() {
        &.sp_block {
          display: block;
          .form-txt,input {
            display: block;
            width: 100%;
  
          }
        }
      }
      .form-txt {
        width: 180px;
        font-weight: bold;
      }
      input {
        width: calc(100% - 180px);
        @include sp() {
          width: 180px;
        }
      }
      .ico {
        width: 45px;
        margin-right: 15px;
        @include sp() {
          width: 30px;
        }
      }
      .mini {
        width: 180px;
        @include sp() {
          width: 130px;
        }
      }
    }
    .yubin {
      .yubin-ico {
        font-weight: bold;
        display: inline-block;
        margin-right: 15px;
      }
    }
    .add01,.add02 {
      margin-top: 15px;
      @include pc() {
        flex-wrap: wrap;
        justify-content: end;
      }
    }
    .email2 {
      margin-top: 15px;
    }
    .date-pick {
      @include pc() {

      }
      margin-right: 15px;
      + .time input {
        margin-right: 15px;
      }
      @include sp() {
        +.time .form-txt {
          width: 120px;
        }
      }
    }
    .mr {
      margin-right: 15px;
    }
    &.amount-box {
      display: flex;
      align-items: center;
      justify-content: end;
      .plan-price {
        color: #8C3C3C;
        font-weight: bold;
        font-size: 18px;
        position: relative;
        width: 150px;
        @include sp() {
          font-size: 14px;
          width: 120px;
        }
        &::after {
          content: "";
          width: 16px;
          height: 1px;
          position: absolute;
          top: 50%;
          right:35px;
          transform: translateY(-50%);
          background-color: #CBCBCB;
          @include sp() {
            right: 24px;
          }
        }
      }
      .form-txt {
        width: 80px;
        font-size: 18px;
        font-weight: bold;
        color: #333;
        @include sp() {
          font-size: 14px;
          width: 50px;
        }
      }
      input {
        width: 140px;
        @include sp() {
          width: 100px;
        }
      }

    }
    &.sp_block {
      @include sp() {
        display: block;
        .time {
          margin-top: 10px;
        }

      }
    }
  }
  .inner {
    position: relative;
    display: block;
    width: 100%;
  }
  .inner span {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    display: inline-block;
    text-align: center;
    border: 0;
    width: 40px;
    height: 20px;
    background: #8C3C3C;
    border-radius: 2.4px;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.05em;
    color: #ffffff;
    @include sp(){
      position: relative;
      margin-left: 14px;
    }
    &.any {
      background-color: #e1e1e1;
      color: #333;
    }
  }
  .check-box {
    width: auto;
  }
  .check-btn {
    display: none;
  }

  .mwform-checkbox-field {
    display: block;
    font-size: 18px;
    letter-spacing: 0.05em;
    margin-bottom: 20px;
    &-text {
      @include sp() {
        font-size: 12px;
      }
    }
  }
  .radio-box{
    margin-left: -10px;
    margin-top: -10px;
  }
  .mwform-radio-field {
    display: inline-block;
    margin-left: 10px;
    
    font-size: 18px;
    letter-spacing: 0.05em;
    @include sp() {
      margin-top: 10px;
    }

  }
}
input[type="checkbox"]:checked + .mwform-checkbox-field-text:before {
  opacity: 1;
}
.mwform-checkbox-field-text {
  position: relative;
  padding-left: 30px;
  line-height: 1.4;
  display: inline-block;
  font-weight: bold;
  &::before {
    z-index: 1;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: inline-block;
    width: 24px;
    height: 24px;
    content: "";
    margin-right: 20px;
    background-image: url("../img/common/check.svg");
    background-repeat: no-repeat;
    background-position: center center;
    //background-size: contain;
  }
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: inline-block;
    width: 24px;
    height: 24px;
    background: #fcfcfc;
    border: 1px solid #e1e1e1;
    box-sizing: border-box;
    border-radius: 3px;
    margin-right: 20px;
    //z-index: -10;
  }
}

.p_contact-table {
  .c-form-table .mwform-radio-field{
    margin-top: 0;
    display: block;
    font-size: 18px;
    letter-spacing: 0.05em;
    margin-bottom: 20px;
    &-text {
      @include sp() {
        font-size: 12px;
      }
    }
  }
  .mw_wp_form_input .open-area{
    display: none;
  }
}

.mw_wp_form .horizontal-item{
  margin-left: 0 !important;
}


input[type="radio"]:checked + .mwform-radio-field-text:before {
  opacity: 1;
}

.wpcf7-list-item-label{
  position: relative;
  padding-left: 44px;
  line-height: 1.4;
  display: inline-block;
  &::before {
    z-index: 1;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: inline-block;
    width: 24px;
    height: 24px;
    content: "";
    margin-right: 20px;
    background-image: url("../img/common/icon-check.svg");
    background-repeat: no-repeat;
    background-position: center center;
    //background-size: contain;
  }
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: inline-block;
    width: 24px;
    height: 24px;
    background: #fcfcfc;
    border: 1px solid #e1e1e1;
    box-sizing: border-box;
    border-radius: 3px;
    margin-right: 20px;
    //z-index: -10;
  }
}

input[type="checkbox"]:checked + .wpcf7-list-item-label:before {
  opacity: 1;
}


.mwform-radio-field-text {
  position: relative;
  padding-left: 30px;
  line-height: 1.4;
  display: inline-block;
  @include sp() {
    font-size: 16px;
  }
  &::before {
    z-index: 1;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 3px;
    transform: translateY(-50%);
    display: inline-block;
    width: 14px;
    height: 14px;
    content: "";
    margin-right: 10px;
    border-radius: 50%;
    background-color : #8C3C3C;
    background-repeat: no-repeat;
    background-position: center center;
    //background-size: contain;
  }
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    border-radius: 50%;
    transform: translateY(-50%);
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #fcfcfc;
    border: 1px solid #e1e1e1;
    box-sizing: border-box;
    margin-right: 10px;
    //z-index: -10;
  }
}

.privacy-link {
  color: #133a59;
  text-decoration: underline;
  &.ptn02 {
    text-decoration: none;
  }
}

.mw_wp_form .error{
  margin-top: 8px !important;
}


.mw_wp_form_confirm-only{
  display: none;
}

.mw_wp_form_confirm{
  .mw_wp_form_confirm-none{
    display: none;
  }
  .mw_wp_form_confirm-only{
    display: block;
  }
  .c-select-input{
    width: auto;
    &:before{
      display: none;
    }
  }
  .c-time-input__year-input{
    width: auto;
  }
  .c-time-input__month-input{
    width: auto;
  }
  .c-time-input__date-input{
    width: auto;
  }
  .c-between-input__year01-input{
    width: auto;
  }
  .c-between-input__month01-input{
    width: auto;
  }
  .c-between-input__year02-input{
    width: auto;
  }
  .c-between-input__month02-input{
    width: auto;
  }
  .c-form-table .radio-box{
    margin-top: 0;
    margin-left: 0;
  }
}

.c-form-box01{
  + .c-form-box01{
    margin-top: 50px;
  }
  &__ttl{
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0.05em;
    color: #133A59;
    @include sp(){
      font-size: 20px;
    }
  }
  &__cont{

  }
}

.c-form-message01{
  text-align: center;
  margin-bottom: 40px;
}

.c-time-input{
  display: flex;
  align-items: center;
  @include sp(){
    //display: block;
  }
  &__year{
    //width: 40%;
    display: flex;
    align-items: center;
  }
  &__year-input{
    width: 170px;
    @include sp(){
      width: 90px;
    }
    @media only screen and (max-width: 374px) {
      width: 74px;
    }
  }
  &__year-txt{
    margin-left: 10px;
    margin-right: 20px;
    @media only screen and (max-width: 374px) {
      margin-left: 5px;
      margin-right: 12px;
    }
  }
  &__month{
    //width: 30%;
    display: flex;
    align-items: center;
  }
  &__month-input{
    width: 112px;
    @include sp(){
      width: 60px;
    }
  }
  &__month-txt{
    margin-left: 10px;
    margin-right: 20px;
    @media only screen and (max-width: 374px) {
      margin-left: 5px;
      margin-right: 12px;
    }
  }
  &__date{
    //width: 30%;
    display: flex;
    align-items: center;
  }
  &__date-input{
    width: 112px;
    @include sp(){
      width: 60px;
    }
  }
  &__date-txt{
    margin-left: 10px;
  }
}



.c-address-input{
  &__postcode{
    display: flex;
    align-items: center;
  }
  &__postcode-input{
    width: 200px;
    @include sp(){
      width: 132px;
    }
  }
  &__postcode-txt{
    cursor: pointer;
    margin-left: 20px;
    color: #133A59;
    letter-spacing: 0.05em;
    text-decoration: underline;
  }
  &__address01{
    margin-top: 10px;
  }
  &__address02{
    margin-top: 10px;
  }
}

.c-between-input{
  display: flex;
  align-items: center;
  @include sp(){
    display: block;
  }
  &__before{
    display: flex;
    align-items: center;
  }
  &__while{
    font-weight: bold;
    margin-right: 20px;
    @include sp(){
      margin-top: 8px;
      margin-bottom: 8px;
    }
  }
  &__after{
    display: flex;
    align-items: center;
  }
  &__year01{
    display: flex;
    align-items: center;
  }
  &__year01-input{
    width: 120px;
  }
  &__year01-txt{
    margin-left: 10px;
    margin-right: 20px;
  }
  &__month01{
    display: flex;
    align-items: center;
  }
  &__month01-input{
    width: 90px;
  }
  &__month01-txt{
    margin-left: 10px;
    margin-right: 20px;
  }
  &__year02{
    display: flex;
    align-items: center;
  }
  &__year02-input{
    width: 120px;
  }
  &__year02-txt{
    margin-left: 10px;
    margin-right: 20px;
  }
  &__month02{
    display: flex;
    align-items: center;
  }
  &__month02-input{
    width: 90px;
  }
  &__month02-txt{
    margin-left: 10px;
    margin-right: 20px;
  }
}

.c-form-caption01{
  margin-top: 10px;
  font-size: 12px;
  color: #949494;
}

.mwform-file-delete{
  cursor: pointer;
  visibility: hidden;
}

.c-input-box01{
  width: 170px;
  @include sp(){
    width: 100%;
  }
}

.c-form-salary{
  &__select{
    width: 170px;
    @include sp(){
      width: 100%;
    }
  }
  &__input{
    margin-top: 10px;
  }
}

.c-form-table-small{
  @extend .c-form-table;
  tr{

  }
  th{
    @include pc(){
      padding-top: 22px;
      padding-bottom: 22px;
      padding-left: 0;
      font-size: 16px;
      width: 290px;
    }
  }
  td{
    @include pc{
      padding: 10px 0;
      padding-left: 20px;
    }
  }
}

.c-form-plan-box {
  &__ttl {
    border-bottom: 3px solid #CBCBCB;
    position: relative;
    margin-top: 30px;
    transition: .3s;
    &.js-aco-btn {
      cursor: pointer;
      &:hover {
        @include pc() {
          opacity: .8;
        }
      }
    }
    &.js-aco-btn.active {
      .ttl {
        &::before {
          transform: translateY(-50%) rotate(180deg);
        }
        &::after {
          opacity: 0;
        }
      }
    }
    &::after {
      content: "";
      width: 80%;
      height: 3px;
      background-color: $main_color01;
      position: absolute;
      bottom: -2px;
      right: 0;
    }
    .ttl {
      font-size: 18px;
      font-weight: bold;
      padding: 20px 0;
      position: relative;
      &.no_aco {
        &::before,&::after {
          content: none;
        }
      }
      @include sp() {
        font-size: 16px;
        padding: 15px 0;
      }
      &::before,&::after {
        content: "";
        background-color: $main_color01;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        transition: .3s;
      }
      &::before {
        width: 25px;
        height: 2px;
        right: 20px;
      }
      &::after {
        width: 2px;
        height: 25px;
        right: 31px;
      }
    }
  }
}

.mw_wp_form_confirm {
  .add-search-btn,.c-select::after,.p_contact-privacy {
    display: none !important;
  }
  .js-aco-body {
    display: block !important;
  }
  .c-form-plan-box__ttl {
    &:hover {
      opacity: 1;
    }
  }
  .c-form-plan-box__ttl .ttl::before {
    display: none;
  }
  .c-form-plan-box__ttl .ttl::after {
    display: none;
  }
  input[name="cta-email"]+ *,input[name="mitsumori-email"]+ *  {
    display: none;
  }
  input[type="number"]
  .mw_wp_form_confirm-none {
    display: none;
  }
  .p_contact-message {
    display: none;
  }
  .c-form-table th, .c-form-table td {
    padding-top: 0;
    padding-bottom: 0;
    padding: 15px 0;
  }
  .c-form-table td {
    padding-left: 20px;
  }
  .p_contact-deli-link {
    display: none;
  }
}