/* -----------------------------------------------
* blog Module
* blogページ用
-------------------------------------------------- */
@use "../mixin/mixin" as *;
@use "../setting/setting" as *;

// ブログ一覧
.c-article {
  &__wrap {
    @include pc() {
      display: flex;
    }
  }

  &__main {
    @include pc() {
      width: 75%;
    }
  }

  &__page {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__side {
    @include pc() {
      padding-left: 30px;
      width: calc(25% + 30px);
    }

    @include sp() {
      margin-top: 60px;
    }
  }

  &__box {
    &.top {
      margin-top: 30px;

      @include sp() {
        margin-top: 60px;
      }
    }
  }

  &__ttl {}

  &__list {
    margin-top: 15px;
  }
}

.c-article-category01 {
  &__tag {
    display: inline-block;
    padding: 6px 20px;
    background: $main_color03;
    border-radius: 3px;
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 10px;

    @include pc() {
      min-width: 80px;
    }

    @include sp() {
      font-size: 16px;
    }
  }
}

.c-article-list {
  &__li {
    border-bottom: solid 1px $main_color01;
  }

  &__li+&__li {
    @include sp() {
      margin-top: 20px;
    }
  }

  &__link {
    display: block;
    height: 100%;
    padding: 20px 0;

    @include pc() {
      display: flex;
      align-items: flex-start;
    }
  }

  &__link:hover {
    @media (hover) {
      .c-article-list__img {
        img {
          transform: scale(1.1, 1.1);
        }
      }
    }
  }

  &__img {
    border-radius: 10px;
    overflow: hidden;

    @include pc() {
      max-width: 270px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: $transition01;
    }
  }

  &__txt {
    @include pc() {
      padding-left: 20px;
      width: calc(100% - 270px + 20px);
    }
  }

  &__tag {
    display: flex;
    flex-wrap: wrap;
    column-gap: 15px;

    @include sp() {
      margin-top: 15px;
      flex-direction: row-reverse;
      justify-content: flex-end;
    }
  }

  &__cate {
    min-width: 67px;
    padding: 3px 8px;
    background: $main_color03;
    border-radius: 3px;

    @include sp() {
      width: 70%;
      font-size: 12px;
    }
  }

  &__date {
    min-width: 80px;

    @include sp() {
      width: 30%;
    }
  }

  &__ttl {
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.05em;
    line-height: 1.6;

    @include sp() {
      font-size: 16px;
      margin-top: 10px;
    }
  }

  &__cap {
    margin-top: 5px;
    font-size: 14px;
    letter-spacing: 0.05em;
    line-height: 1.6;

    @include pc() {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
    }

    @include sp() {
      font-size: 14px;
    }
  }

  &__dec {
    margin-top: 4px;
    display: flex;
    justify-content: flex-end;
  }
}

.c-article-list02 {
  &__li {
    border-bottom: dashed 1px $main_color01;

    &:first-child {
      .c-article-list02__img {
        &::before {
          display: block;
          content: "";
          background: url(../img/blog/icon-gold.png) no-repeat;
          background-size: contain;
          width: 29px;
          height: 29px;
          position: absolute;
          top: -5px;
          left: 5px;
          z-index: 5;
        }
      }
    }

    &:nth-child(2) {
      .c-article-list02__img {
        &::before {
          display: block;
          content: "";
          background: url(../img/blog/icon-silver.png) no-repeat;
          background-size: contain;
          width: 29px;
          height: 29px;
          position: absolute;
          top: -5px;
          left: 5px;
          z-index: 5;
        }
      }
    }

    &:nth-child(3) {
      .c-article-list02__img {
        &::before {
          display: block;
          content: "";
          background: url(../img/blog/icon-copper.png) no-repeat;
          background-size: contain;
          width: 29px;
          height: 29px;
          position: absolute;
          top: -5px;
          left: 5px;
          z-index: 5;
        }
      }
    }
  }

  &__link {
    height: 100%;
    padding: 15px 0;

    @include pc() {
      display: flex;
      align-items: center;
    }

    @include sp() {
      display: block;
    }
  }

  &__link:hover {
    @media (hover) {
      background: $main_color03;

      .c-article-list02__img {
        img {
          transform: scale(1.1, 1.1);
        }
      }
    }
  }

  &__imgbox {
    &.dec {
      position: relative;
    }
  }

  &__img {
    border-radius: 6px;
    overflow: hidden;

    @include pc() {
      max-width: 110px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: $transition01;
    }
  }

  &__txt {
    @include pc() {
      padding-left: 10px;
      width: calc(100% - 110px + 10px);
    }
  }

  &__ttl {
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 0.05em;
    line-height: 1.6;

    @include pc() {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
    }

    @include sp() {
      margin-top: 8px;
    }
  }

  &__dec {
    margin-top: 2px;
    display: flex;
    justify-content: flex-end;
  }
}

.c-arrow-list {
  &__li {
    position: relative;
    border-bottom: dashed 1px $main_color01;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.05em;
    line-height: 1.6;
    // pointer-events: none;
    cursor: pointer;

    @include sp() {
      font-size: 14px;
    }

    &::before {
      display: block;
      content: "";
      width: 7px;
      height: 13px;
      background: url(../img/common/arrow_brown.svg) no-repeat;
      background-size: contain;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      transition: $transition01;
    }
  }

  &__li:hover {
    @media (hover) {
      &::before {
        transform: translate(5px, -50%);
      }
    }
  }

  &__link {
    display: block;
    height: 100%;
    padding: 12px 0;
    // pointer-events: auto;
    width: calc(100% - 7px);
  }
}

.c-article-next {
  position: relative;
  display: inline-block;
  padding-right: 20px;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 0.2em;
  line-height: 1.6;

  @include sp() {
    font-size: 12px;
  }

  &::before {
    content: "";
    background: url(../img/common/arrow_brown.svg) no-repeat;
    background-size: contain;
    width: 5px;
    height: 10px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
  }

  &.small {
    font-size: 10px;
    padding-right: 10px;

    &::before {
      width: 4px;
      height: 7px;
    }
  }
}

// ブログ記事
.c-article-d {
  &__main {
    @include pc() {
      width: 75%;
    }
  }

  &__ttlbox {
    padding-bottom: 20px;
    border-bottom: solid 1px $main_color01;
  }

  &__tag {
    display: flex;
    flex-wrap: wrap;
    column-gap: 15px;
    padding-bottom: 10px;

    @include sp() {
      margin-top: 15px;
    }
  }

  &__cate {
    min-width: 67px;
    padding: 3px 8px;
    font-weight: bold;
    background: $main_color03;
    border-radius: 3px;
    border: 1px solid
  }

  &__date {
    font-weight: bold;
    font-size: 12px;
    text-align: right;
    display:block;
  }

  h1 {
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 0.05em;
    line-height: 1.6;

    @include sp() {
      font-size: 18px;
    }
  }

  &__thumbnail {
    img {
      box-sizing: border-box;
      width: 100%;
      height: auto;
      aspect-ratio: 16/9;
      object-fit: cover;
      overflow: hidden;
      border-radius: 20px;
    }
  }

  &__body {
    margin-top: 1.5em;
    * + * {
      margin-top: 1.5em;
    }

    .block-item {
      * {
        margin-top: 0;
      }

      .c-menu-list__box {
        margin-top: auto;
      }
    }

    #toc_container {
      background: #fff;
      padding: 30px;
      border: solid 1px $main_color01;
      border-radius: 20px;

      @include sp() {
        padding: 15px;
      }

      .toc_title {
        margin-top: 0;
        font-weight: bold;
        font-size: 20px;
        letter-spacing: 0.05em;
        line-height: 1.6;
      }

      .toc_list {
        margin-top: 13px;
        counter-reset: num01 0;

        @include sp() {
          margin-top: 6px;
          padding: 0 10px;
        }
      }

      .toc_listitem {
        margin-top: 6px;
        font-size: 14px;
        letter-spacing: 0.05em;
        font-weight: bold;
        line-height: 1.6;
        position: relative;
        display: flex;
        align-items: baseline;

        @include pc() {
          padding-left: 20px;
        }

        &::before {
          content: counter(num01) ".";
          counter-increment: num01 1;
          font-weight: bold;
          font-size: 20px;
          letter-spacing: 0.05em;
          line-height: 1.6;

          @include sp() {
            font-size: 18px;
          }
        }

        a {
          margin-top: 0;
        }
      }

      .toc_listitem+li {
        margin-top: 4px;

        >ul {
          margin-top: 4px;
          padding-left: 40px;
          counter-increment: num02 2;
          counter-reset: num01;

          @include sp() {
            padding-left: 20px;
          }

          li {
            margin-top: 6px;
            // background: red;
            font-weight: bold;
            font-size: 14px;
            line-height: 1.6;
            position: relative;

            &::before {
              content: counter(num02) "-" counter(num01) ".";
              counter-increment: num01;
              font-weight: bold;
              font-size: 20px;
              letter-spacing: 0.05em;
              line-height: 1.6;

              @include sp() {
                font-size: 18px;
              }
            }
          }

          li+li {
            margin-top: 4px;
          }
        }
      }
    }

    h2 {
      font-weight: bold;
      font-size: 24px;
      letter-spacing: 0.05em;
      line-height: 1.6;
    }

    h3 {
      font-weight: bold;
      font-size: 20px;
      letter-spacing: 0.05em;
      line-height: 1.6;
      padding-left: 24px;
      position: relative;

      &::before {
        content: "";
        width: 12px;
        height: 2px;
        background: $main_color01;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
      }
    }

    h4 {
      font-weight: bold;
      font-size: 18px;
      letter-spacing: 0.05em;
      line-height: 1.6;
    }

    p {
      font-size: 14px;
      letter-spacing: 0.05em;
      line-height: 1.8;

      @include sp() {
        font-size: 14px;
      }
    }

    ol {
      list-style: decimal;
      padding-left: 20px;

      li {
        list-style: decimal;
        font-size: 14px;
        letter-spacing: 0.05em;
        line-height: 1.8;
      }
    }

    ul {
      list-style: disc;
      padding-left: 20px;

      li {
        list-style: disc;
        font-size: 14px;
        letter-spacing: 0.05em;
        line-height: 1.8;
      }
    }

    a {
      text-decoration: underline;
      transition: .3s;

      &:hover {
        @include pc() {
          opacity: .8;
        }
      }
    }

    .c-menu-list {
      grid-template-columns: 1fr;
      padding-left: 0;
    }

    .c-block-list01 {
      background: #fff;
      border: solid 1px $main_color01;
      border-radius: 20px;
      padding: 30px;
      padding-left: 60px;

      @include sp() {
        padding: 20px;
        padding-left: 40px;
      }

      &__item {
        list-style: square;
        font-size: 14px;
        letter-spacing: 0.05em;
        line-height: 1.8;

        &:first-child {
          margin-top: 0;
        }

        &:not(:first-child) {
          margin-top: 10px;
        }
      }
    }

    .l-sidebar-cta__btn {
      max-width: 250px;
      margin: 0 auto;
      margin-top: 16px;
    }

    .p_home-sec06__btn {
      width: 100%;
    }

    .p_contact__tel-box a {
      text-decoration: none;
    }
  }

  &__cont {
    * {
      margin-top: 0;
    }

    @include pc() {
      display: flex;
    }
  }

  &__img {
    @include pc() {
      max-width: 320px;
    }
  }

  &__txt {
    @include pc() {
      padding-top: 20px;
      padding-left: 30px;
      width: calc(100% - 320px + 30px);
    }

    @include sp() {
      margin-top: 0.8em;
    }
  }

  &__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 370px;
    position: relative;
    margin: auto;
    margin-top: 30px;

    @include sp() {
      margin-top: 15px;
      max-width: 270px;
    }

    .prev,
    .next {
      min-width: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: $main_color03;
      border: solid 1px $main_color01;
      border-radius: 50%;
      aspect-ratio: 1/1;
      position: absolute;

      @include sp() {
        min-width: 35px;
      }

      &::before {
        content: "";
        width: 8px;
        height: 15px;
        background: url(../img/common/arrow_brown.svg) no-repeat;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
      }
    }

    .prev {
      left: 0;

      &::before {
        transform: rotate(180deg);
      }
    }

    .next {
      right: 0;
    }

    .back {
      border: solid 1px $main_color01;
      border-radius: 60px;
      padding: 12px 68px;
      font-weight: bold;
      font-size: 16px;
      letter-spacing: 0.05em;
      line-height: 1.6;
      background: $main_color03;

      @include sp() {
        font-size: 14px;
        padding: 6px 34px;
      }
    }
  }

  &__bottom {
    @include pc() {
      padding-right: 20px;
    }
  }
}

.c-article-d-list {
  @include pc() {
    display: flex;
  }

  &__li {
    margin-top: 0;

    @include pc() {
      width: 50%;
    }

    &.brown {
      background: $main_color01;

      .c-article-d-list__txt {
        background: $main_color03;
      }
    }

    &.green {
      background: #6d7455;

      .c-article-d-list__txt {
        background: #dde3d2;
      }
    }
  }

  &__li:first-child {
    border-radius: 20px 0 0 0;

    @include sp() {
      border-radius: 20px 20px 0 0;
    }
  }

  &__li:nth-child(2) {
    @include pc() {
      border-radius: 0 20px 0 0;
    }
  }

  &__ttl {
    margin-top: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 12px 78px;

    @include sp() {
      padding: 10px;
    }
  }

  &__ttl01 {
    margin-top: 0;
    padding-left: 34px;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.05em;
    line-height: 1.4;
    display: inline-block;
    position: relative;

    @include sp() {
      padding-left: 30px;
    }

    &::before {
      display: block;
      content: "";
      width: 24px;
      height: 24px;
      position: absolute;
      left: 0;
      top: 0;
      background-size: contain;

      @include sp() {
        width: 18px;
        height: 18px;
      }
    }

    &.ptn01 {
      background: url(../img/common/icon-cutlery.svg) no-repeat;
    }

    &.ptn02 {
      background: url(../img/common/icon-car.svg) no-repeat;
    }
  }

  &__txt {
    margin-top: 0;
    padding: 15px;
    font-size: 14px;
    letter-spacing: 0.05em;
    line-height: 1.8;
    color: #333333;

    @include sp() {
      padding: 7px;
    }
  }
}

#toc_container {
  width: 100% !important;
}

.toc_number {
  font-weight: bold;
}

.c-article-d-card {
  background-color: #fff;
  border-radius: 20px;
  padding: 30px;
  margin-top: 100px;
  margin-bottom: 100px;
  @include sp() {
    padding: 15px 15px 30px;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  &__box01 {
    display: flex;
    flex-wrap: wrap;
    gap: 13px;
    width: 720px;
    align-items: center;
    @include sp() {
      width: 100%;
      padding: 15px 0;
    }
  }

  &__ico {
    aspect-ratio: 1/1;
    width: 70px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  &__txt {
    width: calc(100% - 83px);
  }

  &__dec {
    text-align: left;
    font-weight: bold;

    @include sp {
      font-size: 14px;
    }

    .name {
      margin-left: 8px;
    }

    .charge {
      font-size: 14px;
      font-weight: 400;
      margin-left: 14px;

      @include sp() {
        font-size: 12px;
      }
    }
  }

  &__cap {
    margin-top: 16px;

    @include sp {
      margin-top: 0px;
      font-size: 14px;
    }
  }
}