@use "../mixin/mixin" as *;
@use "../setting/setting" as *;

.l-article-list {
  display: grid;
  @include pc(){
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
  }
  @include sp(){
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
  }
  &__li {}
  &__link {
    &:hover {
      @include pc() {
        .l-article-list__img img {
          transform: scale(1.2);
        }
      }
    }
  }
  &__img {
    aspect-ratio: 83 / 42;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: $transition01;
    }
  }
  &__txtarea {}
  &__data {
    color: #A98778;
    letter-spacing: 0.1em;
    font-weight: bold;
    font-size: 12px;
  }
  &__cap {
    font-size: 14px;
    letter-spacing: 0;
    line-height: 1.8;
    color: #4F2C1C;
  }

  &.pat01 {
    gap:4rem 2rem;
    .l-article-list__img {
      aspect-ratio: 16/9;
    }
  }
}

.l-gallery-list {
  &__item {
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    @include sp() {
      border-radius: 5px;
    }
    &:hover {
      @include pc() {
        .l-gallery-list__txt {
          opacity: 1;
        }
      }
    }
  }
  &__txt {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    opacity: 0;
    transition: 0.3s;
  }
  &__txt-box {
    width: 80%;
    height: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    .ttl {
      font-size: 22px;
      font-weight: bold;
      color: #fff;
      text-align: center;
    }
    .txt {
      //4行超えたら３点リーダー
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
      font-size: 16px;
      margin-top: 10px;
      color: #fff;
    }
  }
}

.l-card {
  background: #fff;
  border-radius: 10px;
  position: relative;
  z-index: 2;

  @include pc() {
    padding: 32px;
  }

  @include sp() {
    padding: 16px;
  }
}

//----------------------------------
// 投稿詳細
//----------------------------------
.l-article {
  &__top {
    padding: 0 .5rem 1rem;
    border-bottom: 1px solid #a98778;
  }
  &__cat {

  }
  &__date {
    text-align: right;
    display: block;
    flex-shrink: 0;
    font-size: 1.2rem;
  }
  &__ttl {
    font-size: 2.4rem;
    font-weight: bold;
    @include sp() {
      font-size: 1.8rem;
    }
  }
  &__cont {
    * + * {
      margin-top: 1.6rem;
    }
    h2 {
      font-size: 2rem;
      font-weight: bold;
      @include sp() {
        font-size: 1.8rem;
      }
    }
    h3 {
      font-size: 1.8rem;
      font-weight: bold;
      @include sp() {
        font-size: 1.6rem;
      }
    }
    h4 {
      font-size: 1.6rem;
      font-weight: bold;
      @include sp() {
        font-size: 1.4rem;
      }
    }
    p {
      font-size: 1.4rem;
    }
  }
}
.l-cont {
  position: relative;
  z-index: 2;
}

//----------------------------------
// mv
//----------------------------------
.l-mv {
  padding-top: 7vw;
  padding-bottom: 7vw;
  @include sp() {
    padding-bottom: 90px;
  }
}
