.editor-styles-wrapper.block-editor-writing-flow .c-block-list01 {
  background: #fff;
  border: solid 1px #5f4e3e;
  border-radius: 20px;
  padding: 30px;
  padding-left: 60px;
}
.editor-styles-wrapper.block-editor-writing-flow .c-block-list01__item {
  list-style: square;
  font-size: 14px;
  letter-spacing: 0.05em;
  line-height: 1.8;
}
.editor-styles-wrapper.block-editor-writing-flow .c-menu-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  padding-left: 0;
}
.editor-styles-wrapper.block-editor-writing-flow .c-menu-list.mt {
  margin-top: 30px;
}
.editor-styles-wrapper.block-editor-writing-flow .c-menu-list.pat-home .num_ico::after {
  content: none !important;
}
.editor-styles-wrapper.block-editor-writing-flow .c-menu-list.pat-home02 {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 80px;
}
.editor-styles-wrapper.block-editor-writing-flow .c-menu-list > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.editor-styles-wrapper.block-editor-writing-flow .c-menu-list > li .ico {
  position: absolute;
  top: -10px;
  left: -10px;
  z-index: 2;
}
.editor-styles-wrapper.block-editor-writing-flow .c-menu-list .num_ico:nth-child(1) {
  position: relative;
}
.editor-styles-wrapper.block-editor-writing-flow .c-menu-list .num_ico:nth-child(1)::after {
  content: "";
  background: url(../img/common/crown01.png) no-repeat;
  background-size: contain;
  width: 90px;
  height: 90px;
  position: absolute;
  left: 10px;
  top: -12px;
}
.editor-styles-wrapper.block-editor-writing-flow .c-menu-list .num_ico:nth-child(2) {
  position: relative;
}
.editor-styles-wrapper.block-editor-writing-flow .c-menu-list .num_ico:nth-child(2)::after {
  content: "";
  background: url(../img/common/crown02.png) no-repeat;
  background-size: contain;
  width: 70px;
  height: 70px;
  position: absolute;
  left: 10px;
  top: -10px;
}
.editor-styles-wrapper.block-editor-writing-flow .c-menu-list .num_ico:nth-child(3) {
  position: relative;
}
.editor-styles-wrapper.block-editor-writing-flow .c-menu-list .num_ico:nth-child(3)::after {
  content: "";
  background: url(../img/common/crown03.png) no-repeat;
  background-size: contain;
  width: 70px;
  height: 70px;
  position: absolute;
  left: 10px;
  top: -10px;
}
.editor-styles-wrapper.block-editor-writing-flow .c-menu-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #5F4E3E;
  color: #5F4E3E;
}
.editor-styles-wrapper.block-editor-writing-flow .c-menu-list__item.pb {
  padding-bottom: 20px;
}
.editor-styles-wrapper.block-editor-writing-flow .c-menu-list__item.deli {
  border: 1px solid #6D7455;
}
.editor-styles-wrapper.block-editor-writing-flow .c-menu-list__img.pat-scene {
  padding-right: 0 !important;
}
.editor-styles-wrapper.block-editor-writing-flow .c-menu-list__img img {
  aspect-ratio: 16/9;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.editor-styles-wrapper.block-editor-writing-flow .c-menu-list__tag {
  position: absolute;
  left: 0;
  bottom: 10px;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  padding: 2px 7px;
  width: 120px;
  border-radius: 0 20px 20px 0;
  text-align: center;
}
.editor-styles-wrapper.block-editor-writing-flow .c-menu-list__tag.pat-cateling {
  background-color: #5F4E3E;
}
.editor-styles-wrapper.block-editor-writing-flow .c-menu-list__tag.pat-deli {
  background-color: #6D7455;
}
.editor-styles-wrapper.block-editor-writing-flow .c-menu-list__txt-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  padding-top: 0;
  position: relative;
}
.editor-styles-wrapper.block-editor-writing-flow .c-menu-list__txt-box.mt-small {
  padding-top: 0px;
}
.editor-styles-wrapper.block-editor-writing-flow .c-menu-list__ttl {
  font-size: 18px;
  font-weight: bold;
  padding: 0 30px;
}
.editor-styles-wrapper.block-editor-writing-flow .c-menu-list__ttl.center {
  text-align: center;
}
.editor-styles-wrapper.block-editor-writing-flow .c-menu-list__ttl.deli {
  color: #53573E;
}
.editor-styles-wrapper.block-editor-writing-flow .c-menu-list__ttl .small {
  font-size: 14px;
}
.editor-styles-wrapper.block-editor-writing-flow .c-menu-list__cap {
  font-size: 14px;
  font-weight: 400;
  padding: 0 30px;
  margin-top: 10px;
  line-height: 1.8;
  color: #333;
}
.editor-styles-wrapper.block-editor-writing-flow .c-menu-list__box {
  margin-top: auto;
}
.editor-styles-wrapper.block-editor-writing-flow .c-price-box {
  font-weight: bold;
  padding: 0 30px;
  text-align: right;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.editor-styles-wrapper.block-editor-writing-flow .c-price-box.pl-none {
  padding: 0 20px;
  padding-left: 0;
}
.editor-styles-wrapper.block-editor-writing-flow .c-price-box.deli > * {
  color: #53573E;
}
.editor-styles-wrapper.block-editor-writing-flow .c-price-box .fz1 {
  font-size: 16px;
  letter-spacing: 0.1em;
}
.editor-styles-wrapper.block-editor-writing-flow .c-price-box .fz2 {
  font-size: 26px;
  letter-spacing: 0.1em;
}
.editor-styles-wrapper.block-editor-writing-flow .c-price-box .fz2.adjust {
  display: inline-block;
  padding: 0 4px;
}
.editor-styles-wrapper.block-editor-writing-flow .c-price-box .fz3 {
  font-size: 28px;
  letter-spacing: 0.1em;
}
.editor-styles-wrapper.block-editor-writing-flow .c-price-box .fz3.adjust {
  display: inline-block;
  padding-left: 4px;
}
.editor-styles-wrapper.block-editor-writing-flow .c-price-box .fz4 {
  font-size: 46px;
}
.editor-styles-wrapper.block-editor-writing-flow .c-price-box .fz4.adjust {
  display: inline-block;
  margin-right: 10px;
}
.editor-styles-wrapper.block-editor-writing-flow .c-price-box .fz5 {
  font-size: 14px;
  letter-spacing: 0.1em;
}
.editor-styles-wrapper.block-editor-writing-flow .c-price-box .fz6 {
  font-size: 18px;
  letter-spacing: 0.1em;
}
.editor-styles-wrapper.block-editor-writing-flow .c-view-more {
  width: 100%;
  color: #fff;
  text-align: center;
  background-color: #5F4E3E;
  padding: 15px 20px;
  border-radius: 65px 0 0 0;
  position: relative;
  font-weight: bold;
  letter-spacing: 0.2em;
  margin-top: 15px;
}
.editor-styles-wrapper.block-editor-writing-flow .c-view-more.deli {
  background-color: #6D7455;
}
.editor-styles-wrapper.block-editor-writing-flow .c-view-more::after {
  content: "";
  background: url(../../img/common/arrow_white.svg) no-repeat;
  width: 7px;
  height: 15px;
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.editor-styles-wrapper.block-editor-writing-flow .c-view-more.col2 {
  background-color: #e3ded2;
  color: #5F4E3E;
}
.editor-styles-wrapper.block-editor-writing-flow .c-view-more.col2.deli {
  background-color: #dde3d2;
  color: #6D7455;
}
.editor-styles-wrapper.block-editor-writing-flow .c-view-more.col2::after {
  content: "";
  background: url(../../img/common/arrow_brown.svg) no-repeat;
  width: 7px;
  height: 15px;
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.editor-styles-wrapper.block-editor-writing-flow .c-view-more.none_arrow {
  border-radius: 90px 0 0 0;
}
.editor-styles-wrapper.block-editor-writing-flow .c-view-more.none_arrow::after {
  content: none;
}
.editor-styles-wrapper.block-editor-writing-flow .c-view-more .c-price-box {
  padding: 0;
  margin: 0;
}
.editor-styles-wrapper.block-editor-writing-flow .c-view-more .c-price-box .fz4 {
  line-height: 1;
}
.editor-styles-wrapper.block-editor-writing-flow .l-sidebar-cta {
  color: #5F4E3E;
  padding: 20px 16px;
}
.editor-styles-wrapper.block-editor-writing-flow .l-sidebar-cta__cap {
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
}
.editor-styles-wrapper.block-editor-writing-flow .l-sidebar-cta__tel {
  max-width: 160px;
  margin: 0 auto;
  margin-top: 15px;
}
.editor-styles-wrapper.block-editor-writing-flow .l-sidebar-cta__tel-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.editor-styles-wrapper.block-editor-writing-flow .l-sidebar-cta__tel-icon {
  width: 22px;
  height: 22px;
}
.editor-styles-wrapper.block-editor-writing-flow .l-sidebar-cta__tel-num {
  width: calc(100% - 22px);
  padding-left: 3px;
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 1;
}
.editor-styles-wrapper.block-editor-writing-flow .l-sidebar-cta__tel-bottom {
  font-size: 11px;
  text-align: center;
}
.editor-styles-wrapper.block-editor-writing-flow .l-sidebar-cta__btn {
  max-width: 250px;
  margin: 0 auto;
  margin-top: 16px;
}
.editor-styles-wrapper.block-editor-writing-flow .c-contact-btn {
  background-color: #fff;
  border-radius: 24px;
  overflow: hidden;
  border: 2px solid #5F4E3E;
  -webkit-box-shadow: 0 4px 0 #5F4E3E;
          box-shadow: 0 4px 0 #5F4E3E;
  display: block;
  padding: 10px;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.editor-styles-wrapper.block-editor-writing-flow .c-contact-btn::after {
  content: "";
  width: 20px;
  height: 20px;
  background: url(../../img/common/cta_arrow.svg) no-repeat;
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.editor-styles-wrapper.block-editor-writing-flow .c-contact-btn__mail {
  width: 35px;
  margin: 0 auto;
}
.editor-styles-wrapper.block-editor-writing-flow .c-contact-btn__txt {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.15em;
  text-align: center;
  margin-top: 10px;
  color: #5F4E3E;
}
.editor-styles-wrapper.block-editor-writing-flow .p_home-sec06__btn {
  width: 100%;
}
.editor-styles-wrapper.block-editor-writing-flow .c-dec-btn {
  border: 2px solid #fff;
  -webkit-filter: drop-shadow(0 2px 10px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0 2px 10px rgba(0, 0, 0, 0.15));
  display: block;
  padding: 25px 10px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.editor-styles-wrapper.block-editor-writing-flow .c-dec-btn.pat-contact {
  background-image: url(../../img/home/home_btn_contact.jpg);
}
.editor-styles-wrapper.block-editor-writing-flow .c-dec-btn.pat-estimate {
  background-image: url(../../img/home/home_btn_estimate.jpg);
}
.editor-styles-wrapper.block-editor-writing-flow .c-dec-btn.pat-guide {
  background-image: url(../../img/home/home_btn_guide.jpg);
}
.editor-styles-wrapper.block-editor-writing-flow .c-dec-btn > span.jp,
.editor-styles-wrapper.block-editor-writing-flow .c-dec-btn > span.en {
  display: block;
  color: #fff;
  text-align: center;
}
.editor-styles-wrapper.block-editor-writing-flow .c-dec-btn > span.jp {
  font-weight: bold;
  font-size: 22px;
  letter-spacing: 0.2em;
}
.editor-styles-wrapper.block-editor-writing-flow .c-dec-btn > span.en {
  font-size: 20px;
}
.editor-styles-wrapper.block-editor-writing-flow .c-dec-btn > span.dec {
  display: inline-block;
  font-weight: bold;
  font-size: 12px;
  border-radius: 14px 0 0 0;
  background-color: #fff;
  padding: 4px 20px 4px 24px;
  position: absolute;
  right: 0;
  bottom: 0;
  -webkit-filter: none;
          filter: none;
}
.editor-styles-wrapper.block-editor-writing-flow .p_contact__tel-box .p_contact-tel {
  width: 550px;
  margin: 0 auto;
  background: url(../../img/contact/tel_bg.png) no-repeat;
  background-size: 100% 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 30px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 3px solid #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
          text-decoration: none;
}
.editor-styles-wrapper.block-editor-writing-flow .p_contact__tel-box .p_contact-tel__tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 380px;
  border-right: 1px solid #fff;
}
.editor-styles-wrapper.block-editor-writing-flow .p_contact__tel-box .p_contact-tel__tel .ico {
  width: 40px;
}
.editor-styles-wrapper.block-editor-writing-flow .p_contact__tel-box .p_contact-tel__tel .ico img {
  width: 100%;
}
.editor-styles-wrapper.block-editor-writing-flow .p_contact__tel-box .p_contact-tel__tel .num {
  width: calc(100% - 40px);
  color: #fff;
  padding-left: 15px;
  font-size: 48px;
  line-height: 1;
}
.editor-styles-wrapper.block-editor-writing-flow .p_contact__tel-box .p_contact-tel__txt {
  width: calc(100% - 380px);
  color: #fff;
  font-size: 12px;
  margin-left: auto;
  text-align: center;
}

/* pc  */
@media screen and (min-width:641px) {
  
  .editor-styles-wrapper.block-editor-writing-flow .c-menu-list.ptn_long {
    grid-template-columns: 1fr 1fr;
  }
  .editor-styles-wrapper.block-editor-writing-flow .c-menu-list.ptn_long > li:first-child {
    grid-column: 1/3;
  }
  .editor-styles-wrapper.block-editor-writing-flow .c-menu-list__item.long {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .editor-styles-wrapper.block-editor-writing-flow .c-menu-list__item.long > div {
    width: 50%;
  }
  .editor-styles-wrapper.block-editor-writing-flow .c-menu-list__item.long .c-menu-list__img {
    padding-right: 10px;
  }
  .editor-styles-wrapper.block-editor-writing-flow .c-contact-btn:hover {
    -webkit-transform: translateY(4px);
            transform: translateY(4px);
    -webkit-box-shadow: 0 0 0 transparent;
            box-shadow: 0 0 0 transparent;
  }
  .editor-styles-wrapper.block-editor-writing-flow .c-dec-btn {
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  .editor-styles-wrapper.block-editor-writing-flow .c-dec-btn:hover {
    -webkit-filter: none;
            filter: none;
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
    opacity: 0.8;
  }
}

/* sp  */
@media screen and (max-width:640px) {

  .editor-styles-wrapper.block-editor-writing-flow .p_contact__tel-box .p_contact-body {
    margin-top: 20px;
  }
  .editor-styles-wrapper.block-editor-writing-flow .p_contact__tel-box .p_contact-tel {
    width: 100%;
    padding: 15px;
  }
  .editor-styles-wrapper.block-editor-writing-flow .p_contact__tel-box .p_contact-tel__tel {
    width: 70%;
  }
  .editor-styles-wrapper.block-editor-writing-flow .p_contact__tel-box .p_contact-tel__tel .ico {
    width: 25px;
  }
  .editor-styles-wrapper.block-editor-writing-flow .p_contact__tel-box .p_contact-tel__tel .num {
    width: calc(100% - 25px);
    font-size: 28px;
  }
  .editor-styles-wrapper.block-editor-writing-flow .p_contact__tel-box .p_contact-tel__txt {
    width: 30%;
  }
}

